<nav>
  <section class="sidenav-content">
    <a class="nav-link active">Overview</a>
    <section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Content</label>
      <ul class="nav-list">
        <li><a class="nav-link">Projects</a></li>
        <li><a class="nav-link">Reports</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabexample2" type="checkbox">
      <label for="tabexample2">System</label>
      <ul class="nav-list">
        <li><a class="nav-link" routerLink="menuGroupForm" routerLinkActive="active" >메뉴그룹 등록</a></li>
        <li><a class="nav-link" routerLink="menuGroupList" routerLinkActive="active" >메뉴그룹 그리드</a></li>        
        <li><a class="nav-link" routerLink="menuForm" routerLinkActive="active" >메뉴 등록</a></li>
        <li><a class="nav-link" routerLink="menuList" routerLinkActive="active" >메뉴 그리드</a></li>
        <li><a class="nav-link" routerLink="menuTree" routerLinkActive="active" >메뉴 트리</a></li>
        <li><a class="nav-link" routerLink="programForm" routerLinkActive="active" >프로그램 등록</a></li>
        <li><a class="nav-link" routerLink="programList" routerLinkActive="active" >프로그램 그리드</a></li>      
        <li><a class="nav-link" routerLink="regform" routerLinkActive="active" >사용자 등록</a></li>
        <li><a class="nav-link" routerLink="userList" routerLinkActive="active" >사용자그리드</a></li>
        <li><a class="nav-link" routerLink="authList" routerLinkActive="active" >권한그리드</a></li>
        <li><a class="nav-link" routerLink="authForm" routerLinkActive="active" >권한 등록</a></li>
        <li><a class="nav-link">Settings</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabboard" type="checkbox"><label for="tabboard">게시판</label>      
      <ul class="nav-list">        
        <li><a class="nav-link" routerLink="board" routerLinkActive="active" >게시판</a></li>
        <li><a class="nav-link" routerLink="boardTree" routerLinkActive="active" >게시판 트리</a></li>
        <li><a class="nav-link" routerLink="boardList" routerLinkActive="active" >게시판그리드</a></li>
        <li><a class="nav-link" routerLink="boardForm" routerLinkActive="active" >게시판등록</a></li>
        <li><a class="nav-link" routerLink="articleList" routerLinkActive="active" >게시글그리드</a></li>
        <li><a class="nav-link" routerLink="articleForm" routerLinkActive="active" >게시글등록</a></li>
      </ul>
    </section>
  </section>
</nav>