<form nz-form [formGroup]="menuForm">
    {{menuForm.value | json}} 
    <nz-form-item>
        <nz-form-label nzFor="menuGroupCode" nzRequired [nzSm]="6" [nzXs]="24">메뉴그룹코드</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="menuGroupCode" formControlName="menuGroupCode" placeholder="메뉴그룹코드를 입력해주세요.">             
            <nz-form-explain *ngIf="menuForm.get('menuGroupCode').dirty && menuForm.get('menuGroupCode').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="menuCode" nzRequired [nzSm]="6" [nzXs]="24">메뉴코드</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="menuCode" formControlName="menuCode" placeholder="메뉴코드를 입력해주세요.">             
            <nz-form-explain *ngIf="menuForm.get('menuCode').dirty && menuForm.get('menuCode').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="menuName" nzRequired [nzSm]="6" [nzXs]="24">메뉴명</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="menuName" formControlName="menuName" placeholder="메뉴명을 입력해주세요.">             
            <nz-form-explain *ngIf="menuForm.get('menuName').dirty && menuForm.get('menuName').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="parentMenuCode" nzRequired [nzSm]="6" [nzXs]="24">상위메뉴코드</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="parentMenuCode" formControlName="parentMenuCode" placeholder="상위메뉴코드를 입력해주세요.">             
            <nz-form-explain *ngIf="menuForm.get('parentMenuCode').dirty && menuForm.get('parentMenuCode').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="sequence" nzRequired [nzSm]="6" [nzXs]="24">순번</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="sequence" formControlName="sequence" placeholder="순번을 입력해주세요.">             
            <nz-form-explain *ngIf="menuForm.get('sequence').dirty && menuForm.get('sequence').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="enabled">프로그램</nz-form-label>
        <nz-select formControlName="menuGroupList" [nzSize]="'default'" nzMode="multiple" nzPlaceHolder="Please select" style="width: 50%">
            <nz-option *ngFor="let option of menuGroupList" [nzLabel]="option.menuGroupName" [nzValue]="option.menuGroupCode"></nz-option>
         </nz-select>
    </nz-form-item>

    <section class="form-block">
        <label>메뉴 신규 등록</label>      
        <div class="form-group" >
            <label for="menu_group_code" class="required">메뉴그룹코드</label>
            <cf-input   [uniqueId]="'menu_group_code'"
                        [(ngModel)]="menu.menuGroupCode" 
                        [ngModelOptions]="{standalone: true}" 
                        [placeholderText]="'메뉴그룹코드를 입력해주세요.'" 
                        [tooltipText]="'필수 정보입니다.'"
                        (valueChanged)="onValueChange($event)"
                        [isRequired]=true>
            </cf-input>                                  
        </div>
        <div class="form-group" >
            <label for="menu_code" class="required">메뉴코드</label>
            <cf-input   [uniqueId]="'menu_code'"
                        [(ngModel)]="menu.menuCode" 
                        [ngModelOptions]="{standalone: true}" 
                        [placeholderText]="'메뉴코드를 입력해주세요.'" 
                        [tooltipText]="'필수 정보입니다.'"
                        (valueChanged)="onValueChange($event)"
                        [isRequired]=true>
            </cf-input>            
        </div>
        <div class="form-group" >
            <label for="menu_name" class="required">메뉴명</label>
            <cf-input   [uniqueId]="'menu_name'"
                        [(ngModel)]="menu.menuName" 
                        [ngModelOptions]="{standalone: true}" 
                        [placeholderText]="'메뉴명을 입력해주세요.'" 
                        [tooltipText]="'필수 정보입니다.'"
                        (valueChanged)="onValueChange($event)"
                        [isRequired]=true>
            </cf-input>            
        </div>        
        <div class="form-group" >
            <label for="p_menu_code">상위메뉴코드</label>
            <cf-input   [uniqueId]="'p_menu_code'"
                        [(ngModel)]="menu.parentMenuCode" 
                        [ngModelOptions]="{standalone: true}" 
                        [placeholderText]="'상위메뉴코드를 입력해주세요.'" 
                        [tooltipText]="'필수 정보입니다.'"
                        (valueChanged)="onValueChange($event)">
            </cf-input>            
        </div>        
        <div class="form-group" >
            <label for="sequence" class="required">순번</label>
            <cf-input   [uniqueId]="'sequence'"
                        [(ngModel)]="menu.sequence" 
                        [ngModelOptions]="{standalone: true}" 
                        [placeholderText]="'순번을 입력해주세요.'" 
                        [tooltipText]="'필수 정보입니다.'"
                        (valueChanged)="onValueChange($event)"
                        [isRequired]=true>
            </cf-input>            
        </div>
        <div class="form-group">
            <label for="auth" class="required">권한</label>
            <app-program-selectboxes name="authority" [(ngModel)]="menu.program"></app-program-selectboxes>            
        </div>                                   
        
        <button class="btn btn-primary" (click)="getMenu()">조회</button>
        <button type="submit" class="btn btn-primary" (click)="submitMenu()">등록</button>
      <!--<button class="btn btn-primary" (click)="popup = true">삭제</button> -->
    </section>
</form>
