[nz-button] {
    margin: auto;    
}

.btn-group {
    padding: 6px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;      
    padding-left: auto;        
    padding-right: 5;
}

.content {
    background-color: #AA0000;
    flex: 1;
    display:flex;
    flex-direction: column;
  }