<div nz-row class="btn-group">    
  <div nz-col [nzSpan]="24" style="text-align: right;">
      <button 
          nz-button         
          (click)="getUserList(userGrid)">
          <i nz-icon type="search"></i>
          조회
      </button>        
      <nz-divider nzType="vertical"></nz-divider>  
      <button 
          nz-button         
          (click)="initForm(userForm)">
          <i nz-icon type="form" theme="outline"></i>          
          신규
      </button>
      <nz-divider nzType="vertical"></nz-divider>  
      <button 
          nz-button 
          nzType="primary" 
          nz-popconfirm 
          nzTitle="저장하시겠습니까?" 
          (nzOnConfirm)="saveUser(userForm)"
          (nzOnCancel)="false">
          <i nz-icon type="save" theme="outline"></i>
          저장
      </button>
      <nz-divider nzType="vertical"></nz-divider>
      <button 
          nz-button 
          nzType="danger" 
          nz-popconfirm 
          nzTitle="삭제하시겠습니까?" 
          (nzOnConfirm)="deleteUser(userForm)" 
          (nzOnCancel)="false">
          <i nz-icon type="delete" theme="outline"></i>
          삭제
      </button>    
  </div>
</div>
<div style="display: grid; grid-template-rows: 30px 76vh; grid-template-columns: 50vh 1fr" >  
    <h3 style="grid-column: span 2">사용자 목록</h3>      
    <app-user-grid
        id="userGrid"                     
        #userGrid                  
        (rowSelected)="selectedItem($event, userForm)">
    </app-user-grid>            
    <app-user-form    
        id="userForm"
        #userForm
        (dataSaved)="applyGridSavedData(userForm, userGrid)"
        (dataDeleted)="getUserList(userGrid)">
    </app-user-form>  
</div>