{{authorityForm.value | json}}
<form nz-form [formGroup]="authorityForm">

    <nz-form-item>
        <nz-form-label nzFor="authority" nzRequired [nzSm]="6" [nzXs]="24">권한</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="authority" formControlName="authority" placeholder="권한코드를 입력해주세요.">             
            <nz-form-explain *ngIf="authorityForm.get('authority').dirty && authorityForm.get('authority').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="description" [nzSm]="6" [nzXs]="24">비고</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="description" formControlName="description" placeholder="비고를 입력해주세요.">             
            <nz-form-explain *ngIf="authorityForm.get('description').dirty && authorityForm.get('description').errors">The input is Required!</nz-form-explain>
        </nz-form-control>        
    </nz-form-item>    
            
</form>