<form #f ngForm>  
    {{article | json}}
    <section class="form-block">
        <label>게시판 등록</label>
        <input type="text" name="fkBoard" [(ngModel)]="article.fkBoard">
        <input type="text" name="pkArticle" [(ngModel)]="article.pkArticle">
        <input type="hidden" name="ppkArticle" [(ngModel)]="article.ppkArticle">         
        <div *ngFor="let attach of article.attachFile">
            <a [href]="'http://localhost:8090/file/' + attach.fileId" target="_blank" >{{attach.fileName}}</a>
        </div> 
        <div class="form-group">            
            <label for="title" class="required" [style.width.px]="100">제목</label>
            <label for="title" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="title.invalid && (title.dirty || title.touched)">
                <input  #title="ngModel" [(ngModel)]="article.title" [ngModelOptions]="{standalone: true}"
                  type="text" 
                  id="title" 
                  placeholder="제목을 입력해주세요." 
                  [style.width.px]="200"                  
                  required 
                  >
                <span class="tooltip-content">
                제목은 필수 입력 항목입니다.
                </span>
            </label>          
        </div>        
        <input type="file" accept="image/*" (change)="onFileChange(fileInput.files)" #fileInput>
        <div class="form-group">
            <label for="contents">내용</label>            
            <textarea #contents="ngModel" [(ngModel)]="article.contents" [ngModelOptions]="{standalone: true}"
                type="text" 
                id="contents"                   
                placeholder="내용을 입력해주세요."                 
                rows="20"
                required
            ></textarea>                              
        </div>              
        <button class="btn btn-primary" (click)="getArticle()">조회</button>
        <button class="btn btn-primary" (click)="saveBoard(f)">등록</button>
        <button class="btn btn-primary" (click)="fileDown()">첨부파일</button>
        <!--<button class="btn btn-primary" (click)="deleteBoard()">삭제</button>-->
  </section>
</form>