<div nz-row class="btn-group">
  <div nz-col [nzSpan]="24" style="text-align: right;">

    <button
      nz-button
      (click)="initForm(programForm)">
      <i nz-icon type="form" theme="outline"></i>
      신규
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
      nz-button
      (click)="getProgramList(programGrid)">
      <i nz-icon type="search"></i>
      조회
    </button>
  </div>
</div>

<div style="display: grid; grid-template-rows: 30px 69.05vh;" >
    <h3>프로그램 목록</h3>
    <app-program-grid
        id="programGrid"
        #programGrid
        (rowSelected)="false"
        (editButtonClicked)="selectedItem($event, programForm.programForm)">
    </app-program-grid>
</div>

<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="false"
    [nzWidth]="720"
    [nzVisible]="visible"
    nzTitle="프로그램"
    (nzOnClose)="close()">
    <app-program-form
        id="programForm"
        #programForm
        (formSaved)="applyGridSavedData(programForm, programGrid)"
        (formDeleted)="getProgramList(programGrid)"
        (formClosed)="close()">
    </app-program-form>
</nz-drawer>
