<div nz-row class="btn-group">    
  <div nz-col [nzSpan]="24" style="text-align: right;">
      <button 
          nz-button         
          (click)="getProgramList(programGrid)">
          <i nz-icon type="search"></i>
          조회
      </button>        
      <nz-divider nzType="vertical"></nz-divider>  
      <button 
          nz-button         
          (click)="initForm(programForm)">
          <i nz-icon type="form" theme="outline"></i>          
          신규
      </button>
      <nz-divider nzType="vertical"></nz-divider>  
      <button 
          nz-button 
          nzType="primary" 
          nz-popconfirm 
          nzTitle="저장하시겠습니까?" 
          (nzOnConfirm)="saveProgram(programForm)"
          (nzOnCancel)="false">
          <i nz-icon type="save" theme="outline"></i>
          저장
      </button>
      <nz-divider nzType="vertical"></nz-divider>
      <button 
          nz-button 
          nzType="danger" 
          nz-popconfirm 
          nzTitle="삭제하시겠습니까?" 
          (nzOnConfirm)="deleteProgram(programForm)" 
          (nzOnCancel)="false">
          <i nz-icon type="delete" theme="outline"></i>
          삭제
      </button>    
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24" style="display: grid; width: 100%; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr;" >
      <h3>프로그램 목록</h3>
      <app-program-grid 
          id="programGrid"                               
          #programGrid         
          style="grid-row: 1/1; grid-column: 1/1; overflow: hidden;"         
          (rowSelected)="selectedItem($event, programForm.programForm)">
      </app-program-grid>
  </div>
  
    <nz-drawer 
        [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }" 
        [nzMaskClosable]="false" 
        [nzWidth]="720" 
        [nzVisible]="visible" 
        nzTitle="프로그램" 
        (nzOnClose)="close()">            
        <app-program-form 
            id="programForm"
            #programForm
            (dataSaved)="applyGridSavedData(programForm, programGrid)"
            (dataDeleted)="getProgramList(programGrid)">
        </app-program-form>
        <div class="footer">
            <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;">
                <i nz-icon type="close" theme="outline"></i>
                <span>Cancel</span>
            </button>
            <button type="button" (click)="saveProgram(programForm)" class="ant-btn ant-btn-primary">
                <i nz-icon type="save" theme="outline"></i>
                <span>Submit</span>
            </button>
        </div>
    </nz-drawer>
  
</div>