{{message}} - 1234
<nz-layout>
  <!--<clr-alert [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
          <span class="alert-text">
            {{message}}
          </span>
          <div class="alert-actions">
              <button class="btn alert-action">Fix</button>
          </div>
      </clr-alert-item>            
  </clr-alert>-->    
  
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'"  style="background:#fff">
      <div class="logo">Connect</div>
      <nz-select 
        style="width: 200px;" 
        nzShowSearch 
        nzAllowClear 
        nzPlaceHolder="Select a Menu Group" 
        [(ngModel)]="selectedValue" 
        (ngModelChange)="selectMenuGroup($event)">
          <nz-option 
            *ngFor="let menuGroup of menuGroupList" 
            [nzValue]="menuGroup.menuGroupCode" 
            [nzLabel]="menuGroup.menuGroupName">
          </nz-option>          
      </nz-select>
      <nz-tree
        #treeCom
        [nzData]="menuItems"
        (nzClick)="selectMenu($event)">        
      </nz-tree>      
    </nz-sider>

  <nz-layout>    
      <nz-header>
    
          <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
            <!--<li nz-menu-item *ngFor="let menuGroup of menuGroupList">
                <a (click)="getMenuList(menuGroup.menuGroupCode)">{{menuGroup.menuGroupName}}</a>
            </li>    -->
          </ul>
        </nz-header>
    <app-main>    
      <ng-content></ng-content>  
    </app-main>
  </nz-layout>
  
</nz-layout>
  
