{{message}} - 1234
<nz-layout>
  <!--<clr-alert [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
          <span class="alert-text">
            {{message}}
          </span>
          <div class="alert-actions">
              <button class="btn alert-action">Fix</button>
          </div>
      </clr-alert-item>            
  </clr-alert>-->    
  
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-menu-item><span><i class="anticon anticon-user"></i><span class="nav-text">nav 1</span></span></li>
        <li nz-menu-item><span><i class="anticon anticon-video-camera"></i><span class="nav-text">nav 2</span></span></li>
        <li nz-menu-item><span><i class="anticon anticon-upload"></i><span class="nav-text">nav 3</span></span></li>
        <li nz-menu-item><span><i class="anticon anticon-user"></i><span class="nav-text">nav 4</span></span></li>
      </ul>
    </nz-sider>
  <!--<app-sidebar></app-sidebar>-->
  <!--<app-header (menuChanged)="sendMen($event)"></app-header>-->
  <nz-layout>    
      <nz-header>
          <!--<a class="nav-link" routerLink="../login">
          </a>-->
          <div class="logo">Connect</div>
          <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
          
          <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
            <!--<li nz-menu-item *ngFor="let menuGroup of menuGroupList">
                <a (click)="getMenuList(menuGroup.menuGroupCode)">{{menuGroup.menuGroupName}}</a>
            </li>    -->
          </ul>
        </nz-header>
    <app-main>    
      <ng-content></ng-content>  
    </app-main>
  </nz-layout>
  
</nz-layout>
  
