{{message}} - 1234
<nz-layout>

  <nz-sider 
    class="sidebar"
    nzCollapsible 
    [(nzCollapsed)]="isCollapsed" 
    [nzCollapsedWidth]="0" 
    [nzBreakpoint]="'md'">

    <div class="logo">Connect</div>
      
    <nz-select 
      class="sidemenugroup"                    
      nzShowSearch                 
      [(ngModel)]="selectedValue" 
      (ngModelChange)="selectMenuGroup($event)">
          <nz-option 
            *ngFor="let menuGroup of menuGroupList" 
            [nzValue]="menuGroup.menuGroupCode" 
            [nzLabel]="menuGroup.menuGroupName">
          </nz-option>          
    </nz-select>

    <nz-tree
      #treeCom
      [nzData]="menuItems"
      (nzClick)="selectMenu($event)">
    </nz-tree>      

  </nz-sider>

  <nz-layout>    
      <nz-header>    
          <button (click)="this.isCollapsed = !this.isCollapsed">AA</button>
          <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 200px">
            <input type="text" nz-input placeholder="input search text">
          </nz-input-group>          
          <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
          </ng-template>

          <!--<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>          
          </ul>-->
        </nz-header>
    <app-main>    
      <ng-content></ng-content>  
    </app-main>
  </nz-layout>
  
</nz-layout>
  
